{% extends 'base.html' %}
{% block title %}goTV RECOMMENDATION SYSTEM{% endblock title %}
{% block css %}
<style type="text/css">
	.weight-container { with: 100%; height: 200px; background-color: #f1f1f1; }
	.main-content { width: 100%; height: auto; background: #f1f1f1; border-top: 1px solid #fff; }
	.movie-item { text-align: center; width: 200px; padding: 5px; float: left; border: 1px solid #f00; }
	.movie-item .director, .movie-item .casts, .movie-item .release { text-align: justify; }
	.others { height: 350px; width: 2000px; }
	.others .movie-item { margin: 0 0 5px 5px;}
</style>
{% endblock css %} 
{% block content %}
<div class='weight-container'>{% include 'movies/weight.html'%}</div>
<div class='main-content'>
	<div class='movie-item'>
		<div class='name'>Mirror Mirror - Gương Thần [2012]</div>
		<img class='poster' src='{{ MEDIA_URL}}images/mirror-mirror.jpeg' alt='Mirror' />
		<div class='director'><span>Director: </span><a href="#">Tarsem Singh</a></div>
		<div class='casts'>
			<div>Casts:</div>
			<ul>
				<li><a href="#">Lily Collins</a></li>
				<li><a href="#">Julia Roberts</a></li>
				<li><a href="#">Armie Hammer</a></li>
			</ul>
		</div>
		<div class='release'><span>Release: </span><span>2012</span></div>
	</div>
	<div style='clear: both;'>WATH OTHER MOVIES:</div>
	<div class='others'>
	{% for i in f %}
		<div class='movie-item'>
			<div class='name'>Mirror Mirror - Gương Thần [2012]</div>
			<img class='poster' src='{{ MEDIA_URL}}images/mirror-mirror.jpeg' alt='Mirror' />
			<div class='director'><span>Director: </span><a href="#">Tarsem Singh</a></div>
			<div class='casts'>
				<div>Casts:</div>
				<ul>
					<li><a href="#">Lily Collins</a></li>
					<li><a href="#">Julia Roberts</a></li>
					<li><a href="#">Armie Hammer</a></li>
				</ul>
			</div>
			<div class='release'><span>Release: </span><span>2012</span></div>
		</div> 
	{% endfor %}
	</div>
	<div style='clear: both; '></div>
</div>
{% endblock content %}