{% extends "base.html" %}
{% block title %}
goTV RECOMMENDATION SYSTEM - SIGN IN
{% endblock %} 
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#myModal").modal({
			backdrop: true,
		});
	});
</script>
{% endblock %}
{% block content %}

<form action="{% url 'auth:signin' %}" method="POST">{% csrf_token %}
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">ĐĂNG NHẬP</h3>
		</div>
		<div class="modal-body">
			<div><span>Tên đăng nhập:</span><input type="text" name='uname' /></div>
			<div><span>Mật khẩu: </span><input type="password" name='upass' /></div>
			<input type="submit" value="ĐĂNG NHẬP" class="btn btn-primary" style="display: none" />
			<div><input type="checkbox" name='remember_me' checked="checked"><span>DUY TRÌ TRẠNG THÁI ĐĂNG NHẬP</span></div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<input type="submit" value="ĐĂNG NHẬP" class="btn btn-primary"/>
		</div>
	</div>
</form>
{% endblock %}